* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

.tasks {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    max-width: 700px;
}

li {
    padding: 0.5em;
    list-style: none;
}

a {
    color: blue;
}

a:hover {
    color: red;
}