* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #0aacdc;
    padding: 8px 0px;
    text-align: center;
}

header > .center {
    align-items: center;
}

.center {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 2%;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    text-align: left;
    width: 50%;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo h2 {
    color: white;
}

.logo h2 span {
    font-weight: lighter;
}

.search-form {
    width: 50%;
    text-align: right;
}

.search-form form {
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.search-form i {
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 20px;
}

.search-form input {
    border: 0;
    border-radius: 10px;
    background-color: #008bb4;
    padding-left: 40px;
    color: white; 
    font-size: 20px;
    width: 100%;
    height: 40px;
}

::placeholder { /* Firefox, Chrome, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

section.headline {
    padding: 40px 0px;
}

.headline-img {
    width: 100%;
    position: relative;
}

.headline-img img {
    border-radius: 20px;
    width: 100%;
    display: block;
}

.headline-img > .center {
    max-width: 960px;
}

.headline-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.headline-title h2 {
    font-size: 64px;
    margin: 20px 0px;
}

.headline-title p {
    font-weight: lighter;
    font-size: 16px;
}

.headline-overlay {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.other-news {
    background-color: #eaeaea;
    padding: 30px 20px;
    text-align: center;
}

section.other-news h2 {
    font-size: 54px;
}

.latest {
    width: 60%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.box-latest-single {
    border-radius: 10px;
    background-color: white;
    width: 48%;
    height: 100%;
    margin-right: 2%;
    padding-bottom: 20px;
    text-align: left;
}

.box-latest-single img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.box-latest-single h3 {
    font-size: 16px;
    color: #33439b;
    margin: 20px 0px;
}

.box-latest-single h2 {
    color: #303336;
    font-size: 28px !important;
}

.box-latest-single p {
    color: #7b8591;
    font-size: 16px;
    margin: 20px 0px;
}

.box-latest-single a {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: block;
    width: 181px;
    height: 56px;
    text-decoration: none;
    color: #0aacdc;
    line-height: 56px;
    text-align: center;
    font-size: 19px;
}

.news-content {
    padding: 20px;
}

.most-read {
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height: 100%;
}

.most-read > h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 8px;
}

.most-read-news-single {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: left;
}

.most-read-news-single img {
    border-radius: 10px;
    width: 30%;
}

.most-read-news-single .text {
    width: 70%;
    padding: 8px 20px;
}

.most-read-news-single .text h4 {
    color: #40be65;
    letter-spacing: 3.2px;
}

.most-read-news-single .text p {
    color: #7b8591;
    font-size: 14px;
}

.most-read-news-single .text a {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: block;
    width: 121px;
    height: 36px;
    text-decoration: none;
    color: #0aacdc;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.search-most-read {
    width: 100%;
}

footer {
    background-color: #0aacdc;
    padding: 8px 0px;
    text-align: center;
    color: white;
}

section.news {
    background-color: #eaeaea;
    padding: 20px 0px;
}

.news-single {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 58%;
    height: 100%;
    margin-right: 2%;
}

.news-single h2 {
    color: #303336;
    font-size: 42px;
    margin: 10px 0px;
}

.news-single .author-name span {
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #858585;
}

.news-single p {
    color: #7b8591;
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
}

.news-single h3 {
    color: #7b8591;
    font-size: 33px;
    margin: 10px 0px;
}

@media screen and (max-width: 768px) {
    .logo {
        text-align: center;
    }

    .logo, .search-form {
        width: 100%;
    }

    .search-form {
        text-align: center;
        margin-top: 10px;
    }

    .headline-title {
        width: 100%;
        overflow: hidden;
        padding: 20px;
    }
    

    .headline-title h2 {
        font-size: 34px;
        margin: 20px 0px;
    }

    .headline-title p {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .most-read, .latest {
        width: 100%;
        margin-bottom: 20px;
    }

    .box-latest-single {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .news-single {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
}