<!DOCTYPE html>
<html lang="pt-be">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Tarefas</title>
        <link href="/public/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="tasks">
            <form method="post">
                <input type="text" name="task" />
                <input type="submit" value="Inserir" />
            </form>
            <ul>
            <% for (let i = 0; i < tasks.length; i++) { %>
                <li>
                    <%= tasks[i] %> <a href="/delete/<%= i %>">Deletar</a>
                </li>
            <% } %>
            </ul>
        </div>
    </body>
</html>