<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>
        <section class="headline">
            <div class="center">
                <div class="headline-img">
                    <div class="headline-overlay"></div>
                    <div class="headline-title">
                        <h2>Quer fugir das praias de verão?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec. Vestibulum sit
                            amet bibendum dui, nec bibendum eros. Aenean et euismod turpis, sed tincidunt metus. Donec sit amet fringilla magna. Sed efficitur diam
                            et finibus lacinia. Quisque viverra pretium enim, nec efficitur nisl efficitur congue. Praesent hendrerit, orci ut volutpat sagittis,
                            elit justo rutrum purus, sit amet pharetra diam nibh sit amet elit. Cras nulla enim, mattis ac sem eget, consectetur luctus sem.
                        </p>
                    </div>
                    <img src="/public/img/landscape.jpeg" alt="Manchete" />
                </div>
            </div>
        </section>
        <section class="other-news">
            <div class="title">
                <h2>Ultimas Notícias</h2>
                <br />
                <br />
                <div class="center">
                    <div class="latest">
                        <div class="box-latest-single">
                            <img src="/public/img/noticia.jpeg" alt="Notícia" />
                            <div class="news-content">
                                <h3>Dias de Natureza</h3>
                                <h2>Um belo dia de praia com muito sol</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec. Vestibulum
                                    sit amet bibendum dui, nec bibendum eros.
                                </p>
                                <a href="/dia-na-praia">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="box-latest-single">
                            <img src="/public/img/noticia.jpeg" alt="Notícia" />
                            <div class="news-content">
                                <h3>Dias de Natureza</h3>
                                <h2>Um belo dia de praia com muito sol</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec. Vestibulum
                                    sit amet bibendum dui, nec bibendum eros.
                                </p>
                                <a href="/dia-na-praia">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                    <div class="most-read">
                        <h3>Mais Lidas</h3>
                        <div class="most-read-news">
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.html') %>
    </body>
</html>
