<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>
        <section class="other-news">
            <div class="title">
                <h2>Busca:</h2>
                <br />
                <br />
                <div class="center">
                    <div class="most-read search-most-read">
                        <h3>33 resultados</h3>
                        <div class="most-read-news">
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="most-read-news-single">
                                <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                                <div class="text">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                    <a href="/pinheiros-nevados">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.html') %>
    </body>
</html>
