<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>
        <section class="news">
            <div class="center">
                <div class="news-single">
                    <h2>Título da Notícia</h2>
                    <div class="author-name">
                        <span>Por Um Autor</span>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec. Vestibulum sit
                        amet bibendum dui, nec bibendum eros. Aenean et euismod turpis, sed tincidunt metus. Donec sit amet fringilla magna. Sed efficitur diam et
                        finibus lacinia.
                    </p>
                    <h3>Quisque viverra pretium enim</h3>
                    <p>
                        Nec efficitur nisl efficitur congue. Praesent hendrerit, orci ut volutpat sagittis, elit justo rutrum purus, sit amet pharetra diam nibh sit
                        amet elit. Cras nulla enim, mattis ac sem eget, consectetur luctus sem.

                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam at neque ac justo ornare commodo. Suspendisse sed imperdiet dolor.
                        Vestibulum tristique arcu neque, eu fermentum arcu aliquam non. Cras aliquam nec ipsum eu semper. Sed nec risus et diam malesuada convallis
                        id dignissim dui. Donec id lorem non lacus interdum pretium. Donec et sapien dolor. Maecenas non sem eu orci iaculis volutpat. Vivamus semper
                        enim quam, eu dapibus lectus venenatis at. Sed ut sollicitudin dui. Quisque vel nibh tristique, ultricies tellus sed, sagittis nibh. Vivamus
                        sit amet vulputate neque. Duis ac diam id nisl interdum convallis a in justo.

                        Ut fermentum feugiat interdum. Fusce sit amet neque scelerisque ligula rutrum accumsan nec dapibus est. Integer rhoncus, ligula eu porta
                        pellentesque, elit nisl sodales nunc, vitae vehicula lorem leo nec diam. Suspendisse a ex non dui dictum fermentum at pretium ante. In pretium
                        et erat non commodo. Quisque placerat mauris ut tellus fermentum, ac lobortis enim laoreet. Duis posuere euismod urna, at hendrerit erat
                        ornare sit amet. Suspendisse cursus dui velit, nec condimentum metus semper id. Nullam et interdum magna, a interdum ex. Nulla feugiat, dolor
                        non consequat dictum, velit nisi sollicitudin tortor, id suscipit elit nulla nec ante. Duis ac erat in risus maximus consequat. Curabitur
                        fringilla et orci ac venenatis. Nullam feugiat, justo rhoncus iaculis venenatis, arcu ligula eleifend nunc, vel tristique dolor eros quis
                        erat. Sed gravida augue eu vehicula consectetur. Donec vitae justo eget sem cursus lobortis. Suspendisse potenti.
                        
                        Integer pulvinar enim turpis, laoreet malesuada tortor maximus vel. In sed erat nec nisl tincidunt hendrerit. Vivamus tempor nibh sed erat
                        eleifend, vel malesuada tortor interdum. Phasellus elementum ultricies nibh eget ultricies. Donec ut laoreet libero. Quisque pulvinar dolor
                        vel ultrices porttitor. Aenean vel mattis nibh. Vestibulum eget est diam. Suspendisse non cursus felis, non cursus ex. Sed quis libero
                        bibendum leo dapibus lobortis. Integer vitae augue a sapien accumsan aliquet quis sed dolor. Vestibulum malesuada mauris quis lacus tempor,
                        at bibendum est congue. Suspendisse maximus porttitor erat ultricies convallis. 
                    </p>
                </div>
                <div class="most-read">
                    <h3>Mais Lidas</h3>
                    <div class="most-read-news">
                        <div class="most-read-news-single">
                            <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                            <div class="text">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                <a href="/pinheiros-nevados">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="most-read-news-single">
                            <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                            <div class="text">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                <a href="/pinheiros-nevados">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="most-read-news-single">
                            <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                            <div class="text">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                <a href="/pinheiros-nevados">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="most-read-news-single">
                            <img src="/public/img/pinheiros.jpeg" alt="Mais lida">
                            <div class="text">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius faucibus augue, eget egestas mauris volutpat nec.</p>
                                <a href="/pinheiros-nevados">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.html') %>
    </body>
</html>
